.app{
  width: 100%;
  display: flex;
  justify-content: center;
}

.main{
  width: 70%;
  padding: 30px;
}

.header {
  height: 70px;
  display: flex;
}

.up-features {
  margin-top: 30px;
}

.large-text {
  font-size: 50px;
  display: flex;
  line-height: 55px;
  align-items: flex-end;
  width: 11%;
}

.small-text {
  font-size: 25px;
  display: flex;
  align-items: flex-end;
  width: 34%;
}

.header-empty-space {
  width: 45%;
}

.bert-button {
  width: 10%;
  display: flex;
  align-items: flex-end;
}

textarea{
  padding: 10px;
  width: 100%;
  min-height: 200px;
  word-wrap: break-word;   /* Ensures that long words can break and wrap to the next line */
  overflow-y: hidden;      /* Hides the vertical scrollbar */
  outline: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  resize: none;
  box-shadow: 0 2px 2px  0 #555555;
}

.verification-button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.highlight {
  color: black;
}

.input-boxes {
  display: flex;
  width: 100%;
  justify-content: center;
  /*align-items: center; !* 세로 중앙 정렬 *!*/
  font-size: 20px;
}

.korean-setting {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 20px;
}
.english-setting{
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 20px;
}
.input-box-1{
  flex: 4;
}
.input-box-2{
  flex: 4;
}
.right-arrow {
  flex: 1;
  display: flex;
  padding-top: 50px ;
  justify-content: center;
  align-items: center;
  font-size: 50px; /* 화살표의 글꼴 크기 설정 */
}

.down-arrow {
  font-size: 24px;
}

.text-box {
  /*width: 200px;           !* Set the width of the textareas *!*/
  word-wrap: break-word;   /* Ensures that long words can break and wrap to the next line */
  overflow-y: auto;      /* Hides the vertical scrollbar */
  min-height: 200px;        /* Minimum height for the textareas */
  resize: none;            /* Disables the resize handle */
  border: 1px solid #ccc;  /* Optional: Adds a border to the textareas */
  padding: 10px;           /* Optional: Adds some padding inside the textareas */
  font-size: 16px;         /* Optional: Sets the font size */
  margin-right: 10px;
}

.error-spotter {
  display: flex;
}

.result-box {
  width: 200px;            /* Set the width of the textareas */
  word-wrap: break-word;   /* Ensures that long words can break and wrap to the next line */
  overflow-y: auto;      /* Hides the vertical scrollbar */
  min-height: 200px;        /* Minimum height for the textareas */
  resize: none;            /* Disables the resize handle */
  border: 1px solid #ccc;  /* Optional: Adds a border to the textareas */
  padding: 10px;           /* Optional: Adds some padding inside the textareas */
  font-size: 16px;         /* Optional: Sets the font size */
  margin-right: 10px;
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.scroll-to-top-button {
  display: flex;
  justify-content: end;
}

.empty {
  height: 300px;
}